@model IEnumerable<Music.Models.Artist>

@{
    ViewBag.Title = "Artist";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Artist", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ArtistID }) |) 
            </td>
        </tr>
    }
</table>
